<div class="container">
  <div class="row">
    <div class="page-account__main">
      <h1>My Account<% resource_name.to_s.humanize %></h1>
      <hr>
      <%= render 'devise/shared/account_update_form', :minimum_password_length => @minimum_password_length %>
    </div>

    <div class="col">
      <div class="page-account__side">
        <h3>Cancel my account</h3>
        <hr>
        <p>Want to delete account?</p>
        <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
