<div class="card-auth">
  <div class="card-auth-header">
    <h2>Register</h2>
  </div>

  <div class="card-body">
    <%= render 'devise/shared/register_form' %>
  </div>
</div>

<div class="link-bottom">
  <%= render 'devise/shared/links' %>
</div>
