<% if resource.errors.any? %>
  <div class="card border-danger mb-3" id="error_explanation">
    <div class="card-header bg-danger text-white" style="max-height: 2.5rem;">
      <h4 style="margin-top: -5px;">
        <i class="fas fa-exclamation-circle" style="font-size:18px;"></i>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </h4>
    </div>

    <ul class="pt-3">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
