.card-auth {
  @extend .card;

  width: 45%;
  margin: auto;
  margin-top: 30px;
  border-color: $secondary;

  &__header {
    @extend .card-header;

    color: $white;
    text-align: center;
    background-color: $dark;
  }
  &__footer {
    width: 40%;
    padding-top: 20px;
    margin: auto;
  }
}
