.card-auth {
  @extend .card;

  width: 45%;
  margin: auto;
  margin-top: 30px;
  border-color: $secondary;

  &-header {
    @extend .card-header;

    text-align: center;
    color: white;
    background-color: $dark;
  }
}

.link-bottom {
  width: 40%;
  margin: auto;
  padding-top: 20px
}
