.card-auth {
  @extend .card;

  width: 45%;
  margin: auto;
  margin-top: 30px;
  border-color: $secondary;

  &__header {
    @extend .card-header;

    text-align: center;
    color: white;
    background-color: $dark;
  }
  &__footer{
    width: 40%;
    margin: auto;
    padding-top: 20px
  }
}
